/*导航栏背景样式*/
QWidget#bg_title{background-color: #34495e;border: 1px solid gray;}


/*主界面按钮样式*/
QPushButton[btn="main"]{font-family:"微软雅黑";font-size:18px;min-width: 100;min-height:28;color:white;background-color:#398072;border-radius:3}
QPushButton[btn="main"]:pressed{font-family:"微软雅黑";font-size:18px;min-width: 100;min-height:28;color:white;background-color:#1abc9c;border-radius:3}


/*主界面样式*/
QLabel{color:white}
/* QWidget#centralwidget{background-color: #34495e;} */


/*右侧导航样式*/
QTreeWidget#treeWidget{background-color: rgba(52, 73, 94, 220);color:white;font-size:18px;}

/*搜索框样式*/
QLineEdit{border-radius:6;border:1px solid #398072;min-height: 28px;}

/*表格样式*/
QTableWidget#tableWidget{border:1px solid gray;}
/*表格头样式*/
QHeaderView::section{color: black;
	font-size:14px;
    font-weight: bold;

	text-align:center;
	height:30px;
    color:#909399;
    border: 1px solid gray;
    border-left:none;
}
/*表格条目样式*/
QTableWidget::item
{	
	font:14px "微软雅黑";
	color:#677483;
	border:none;
}

QLabel#lb_cnt{color:red}